*{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.left{
    margin-right: 80px;
}
.images img{
height: 180px;
width: 300px;
}
.container{
    margin-top: 5px;
    /* border: 5px solid red; */
}
.services{
    background-color: white;
    padding: 4px 4px 4px 4px;
    border: 2px solid transparent;
    border-radius: 15px;
    margin-top: 30px;
    margin-bottom: 20px;
    /* margin: auto; */
}
.card_things{
    display: flex;
    gap: 10px;
    width: 71vw;
    overflow: auto;
    padding: 2px 2px 2px 2px;
    scrollbar-color: black
    ;
    
}
.service_name{
    font-size: 25px;
    font-weight: 700;
}
.card button:hover{
cursor: pointer;
}
.fake_button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 10px;
}
.card button{
    background-color: white;
    border: 2px solid #FFE5B4;
    border-radius: 20px;
    padding: 10px 10px 10px 10px;
}
.card button:hover{
    cursor: pointer;
    border: 2px solid skyblue;
}
.nameoftitle{
    border-bottom: 1px solid skyblue;
    box-shadow: 1px 1px 1px 1px goldenrod;
}
.btn1{
    width: 120px;
    height: 25px;
    background-color: goldenrod;
    color: white;
    border: 3px solid goldenrod;
    border-radius: 20px;
    padding-top: 5px;
}
.btn1:hover{
    background-color: skyblue;
}
